{% extends "testapp/base.html" %}
{% block content %}

    <div class="content-section">
    
        <form method="POST" id="add_form" action="{% url 'testapp-register' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                <div>
                  Uname
                </div>
                <div class="input">
                  <input type="text" name="username" required="required">
                </div>
                <div>
                  Pass
                </div>
                <div class="input">
                  <input type="password" name="password" required="required">
                </div>

            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Register</button>
            </div>
        </form>
    </div>

<script type="text/javascript">


</script>
{% endblock content %}